.navbar {
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(62, 168, 94);
    font-family: 'Roboto Slab', sans-serif;
    color: rgb(243, 243, 243);
    font-size: 1.6rem;
}
.navbar > a {
    cursor: pointer;
}
.navbar > a > img {
    width: 3rem;

}

@media only screen and (max-width: 1024px) {
    .responsive-p {
        position: absolute;
    }
    .navbar > a {
        font-size: 0.8rem;
    }
    .navbar {
        justify-content: space-between;
        font-size: 1.18rem;
    }
    .navbar > p {
        text-align: right;
    }
    }