/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  /* background-image: linear-gradient( 115deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url('./assets/background.jpg'); */
  object-fit: contain;
  background-position: top;
  background-attachment: scroll;
  position: relative;
  background-color: rgb(235, 235, 235);
}
/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}


@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf');
  src: local('Roboto Slab'), local('RobotoSlab-Regular'),
    url('../public/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('woff2'),
    url('../public/fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf') format('woff'),
    url('../public/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta';
  src: url('../public/fonts/Mukta/Mukta-Regular.ttf') format('truetype'),
       url('../public/fonts/Mukta/Mukta-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
